
[SECTION]

# Nome da colecao
COLLECTION=SciELO TESTE

# Caminho do serial do XML
XML_SERIAL_LOCATION_SERVER=
XML_SERIAL_LOCATION_USER=
XML_SERIAL_LOCATION=/bases/collection.000/serial
TMP_LOCATION=/tmp

# Emails para as mensagens
MAIL_TO=marca@example.com
MAIL_CC=infras@example.com, prod@example.com
MAIL_BCC=sysadm@example.com

# modo desenvolvimento ou producao. Preencher com False se for para producao
TEST=True
